---
import { getCollection } from 'astro:content'
import Layout from '@src/layouts/SectionLayout.astro'
import fg from 'fast-glob'
import EventInfo from '@components/events/EvInfoBlock.astro'

export async function getStaticPaths() {
	const events = await getCollection('eventos')
	return events.map((ev) => ({
		params: { slug: ev.slug },
		props: { ev }
	}))
}

const { ev } = Astro.props
const { date, location, title, color, geo } = ev.data

let photos = fg.sync(`public/img/galerias/${ev.slug}/*.webp`)
photos = photos.map((pic) => {
	const img = pic.replace('public/', '/')
	const path = img.split('/').slice(0, -1).join('/')
	const filename = img.split('/').pop()

	return {
		full: `${path}/${filename}`,
		thumb: `${path}/thumbs/${filename}`
	}
})
---

<Layout lang="es" title={title + ' - Fotos'}>
	<h1 transition:name={`title-${title}`} class:list={['mb-10 mt-6 font-header text-4xl font-bold uppercase', `brush-${color}`]}>{title}</h1>

	<div class="mx-auto mb-8 md:w-3/4 lg:w-1/2">
		<EventInfo slug={ev.slug} title={title} location={location} date={date} geo={geo} />
	</div>

	<div class="grid grid-cols-2 gap-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4">
		{photos.length === 0 ? <h1 class="text-4xl font-bold uppercase">No hay fotos</h1> : ''}
		{photos.map((pic) => <a href={pic.full}><img src={pic.full} /></a>)}
	</div>
</Layout>
